/* creates big red arrow and rotates it */
.arrow {
    animation: blinker 1s linear infinite;
    margin-top: -150px;
    transform: rotate(-90deg);
    border-right: 12px solid red;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 250px;
  }
  
  .arrow:after {
    content: "";
    width: 0; 
      height: 0; 
      border-left: 35px solid transparent;
      border-right: 35px solid transparent;
      border-bottom: 35px solid red;
    position: absolute;
    top: -35px;
    left: -30px;
  }


/* allows the created arrow to blink annoyingly */
@keyframes blinker {
    50% {
        opacity: 0;
      }
  }

/* 
this allows the arrow to be positioned relative to the HTML form 
as this is the parent div's class 
*/
.clickbait {
  position: relative;
  padding: 10px;
  margin: 10px;
}
