/* creates big red arrow and rotates it to the correct position */
.arrow {
  animation: blinker 1s linear infinite; /* Blinks the arrow */
  margin-top: -150px; /* Adjusts the vertical position */
  transform: rotate(-90deg); /* Rotates the arrow to point left */
  border-right: 12px solid red; /* colours the arrow */
  height: 50px;
  position: absolute; /* Positions the arrow absolutely within its container */
  left: 50%;
  top: 250px;
}
  
.arrow:after {
  content: "";
  width: 0; 
  height: 0; 
  border-left: 35px solid transparent; /* Creates the left side of the triangle */
  border-right: 35px solid transparent; /* Creates the right side of the triangle */
  border-bottom: 35px solid red; /* Creates the base of the triangle and its colour */
  position: absolute;  /* Positions the triangle absolutely within its container */
  top: -35px;
  left: -30px;
}


/* 
allows the created arrow to blink annoyingly 
it does this by making the arrow disappear at the 50% point of the animation
*/
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* 
this allows the arrow to be positioned relative to the HTML form 
as this is the parent div's class 
*/
.clickbait {
  position: relative; /* Positions the arrow relative to its containing element */
  padding: 10px;
  margin: 10px;
}
