/* gives a nice blue-green colour to quiz questions */
.quiz-question {
  color: rgb(14, 122, 134);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-top: 50px;
}

/* disables the nav bar page option the user is currently in */
.nav-link.disabled {
  pointer-events: none;
  cursor: default;
  color: #6c757d;
}

/* keeps the answer boxes close to the question */
table {
  width: 60%;
  margin-left: 30px;
}

/* gives a nice blue-green colour to quiz sub-questions */
.sub-question {
  color: rgb(14, 122, 134);
  font-size: 19px;
  margin-right: 10px;
  margin-left: 10px;
}


/* Hide everything in this class by default */
.hidden {
  display: none;
}