/* scenario container spacing and alignment */
.scenario {
  text-align: left;
  padding: 40px;
}

/* creates a gray background relative to the div its in */
.field {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 20px;
}

/* creates a purple box on a specified position on the field */
.trolley {
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: purple;
  bottom: 30px;
  left: 10px;
  z-index: 2; /* ensures the trolley appears above everything else */
}

/* sets colour and position for the people on the first row on the scenario */
.row1 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blue;
  bottom: 30px;
  left: 150px;
}

/* sets colour and position for the people on the second row on the scenario */
.row2 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blue;
  bottom: 130px;
  left: 150px;
}

/* the same style of button as on style.css but smaller to fit nicer */
.button {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: rgb(13, 47, 134);
  font-size: 20px;
  color: white;
  transition-duration: 0.4s;
}

/* same hover style as the submit buttons */
.button:hover {
  background-color: rgb(14, 122, 134);
}